/* Form Css */
.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 850px;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        letter-spacing: 3px;
        color: rgb(121, 182, 255);
        border-radius: 15px;
        transition: 1s;

        &:hover {
            letter-spacing: 10px;
            color: rgb(121, 182, 255);
            background-color: transparent;
        }
    }
}

.contact-body {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 100px;
    color: rgb(255, 255, 255);
}

.left {
    img {
        border: 5px solid rgb(121, 182, 255);
        border-radius: 100%;
        width: 100%;
        height: 250px;
    }
}

.left-content {
    >.address {
        font-family: "Ubuntu Condensed", sans-serif;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: right;
        font-size: 1.25em;
    }

    >.number {
        font-family: "Ubuntu Condensed", sans-serif;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: right;
        font-size: 1.25em;
    }

    >.email {
        font-family: "Ubuntu Condensed", sans-serif;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: right;
        font-size: 1.25em;
    }
}

.form {
    >.form-group {
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
    }

    input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        width: 600px;
        display: block;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 3px solid rgb(121, 182, 255);

            &::-webkit-input-placeholder {
                color: transparent;
            }
        }

        &::-webkit-input-placeholder {
            color: rgb(255, 255, 255);
        }

        &:focus+label {
            opacity: 1;
            visibility: visible;
            transform: translateY(1rem);
        }
    }

    textarea {
        margin-top: 20px;
        width: 600px;
        height: 250px;
        border-radius: 3px;
        border: 3px solid rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border: 3px solid rgb(121, 182, 255);

            &::-webkit-input-placeholder {
                color: transparent;
            }
        }

        &::-webkit-input-placeholder {
            color: rgb(255, 255, 255);
        }

        &:focus+label {
            opacity: 1;
            visibility: visible;
            transform: translateY(1rem);
        }
    }

    label {
        font-size: 1.2rem;
        font-weight: 1200;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
        color: rgb(121, 182, 255);
        visibility: hidden;
        opacity: 0;
    }
}

.submit-btn {
    display: flex;
    justify-content: center;

    button {
        background-color: rgb(121, 182, 255);
        border: 1px solid transparent;
        border-radius: 3px;
        font-size: 1.5rem;
    }
}